.page {
  @include flex-col;
  align-items: center;
  gap: 20px;

  width: $content-width;
}

.title {
  width: 100%;

  font-size: 34px;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 0 0 #fff;
}

.text {
  color: $color-text-secondary;
}
