.page {
  @include flex-col;
  align-items: center;
  gap: 20px;

  width: $content-width;
}

.title {
  width: 620px;

  font-size: 34px;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 0 0 #fff;
}

.content {
  @include flex-col;
  gap: 24px;

  width: 620px;
}

.imageWrap img {
  width: 100%;
}

.textRow {
  @include flex-row;
  justify-content: space-between;
}

.textPrimary {
  font-weight: bold;
}

.description {
  font-style: italic;
  text-align: center;
}
