.page {
  @include flex-col;
  align-items: center;
  gap: 20px;

  width: $content-width;
}

.title {
  width: 620px;

  font-size: 34px;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 0 0 #fff;
}

.slideshowContainer {
  background-color: $color-bg-primary;
  border-radius: 8px;

  width: 620px;
  height: 500px;

  padding: 12px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
