@use "../abstracts" as *;

html {
  font-size: clamp(14px, 1.2vw, 16px);
  line-height: $line-normal;
}

body {
  font-family: $font-primary;

  color: $color-text-primary;
  background: $color-bg-primary;
}

#root {
  @include flex-col;
  block-size: 100%;
}

main {
  @include flex-col;
  align-items: center;

  background-color: $color-bg-secondary;
  padding-top: 40px;
  padding-bottom: 60px;
}
